/* Try different box model properties below */

.site-header > p {
  color: white;
  margin-bottom: unset;
}
p {
  word-spacing: 0.01rem;
}
.site-footer > p {
  font-size: 12px;
  text-align: center;
}
.messages .message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
