/* Add your CSS code below */
[href="https://goo.gl/maps/aza4h9nUBhn"] {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
[href="https://media.giphy.com/media/l41K4KlVE8dgozf8I/giphy.gif"] {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
p {
  font-size: 0.9rem;
  line-height: 0.4cm;
}
.message--unread {
  border-left-color: blue;
  border-left-style: solid;
}
.message:first-child {
  opacity: 0.5;
}
